.jumbotron {
  text-align: center;
  url("")
}

body {
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-family: monospace;
}

#toppings {
   font-size: 17px;
 }

 #showOrderDetails {
   display: none;
   background-color: #A2BB5F
 }
 
.btn {
  padding: 10px;
  border: 10px;
}

.sendtoHtml {
  cursor: pointer;
  color: #0088cc;
}

.sendtoHtml:hover {
  text-decoration: underline;
  column-rule-color: grey;
}
